# Dependencias
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.next/
out/
coverage/
.turbo/
.pnpm-store/

# Entorno
.env
.env.local
.env.*.local
!.env.example

# Bases de datos locales
*.sqlite
*.db
*.sqlite3

# Prisma
apps/api/src/infrastructure/database/prisma/migrations/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
